<!-- BEGIN HEADER TOP -->
<!-- <div class="page-header-top">
    <div class="container">
    BEGIN LOGO
    <div class="page-logo">
        <a href="/">
            <img src="/img/new-logo.png" alt="logo" class="logo-default" style = "margin-top:15px" />
        </a>
    </div>
    END LOGO
            BEGIN RESPONSIVE MENU TOGGLER
        <a href="javascript:;" class="menu-toggler btn btn-sm green-haze btn-outline">MENU</a>
        END RESPONSIVE MENU TOGGLER
        BEGIN TOP NAVIGATION MENU
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <form name="form.searchForm" class="search-form">
                        <div class="input-group">
                            <input type="text" name="explorerSearch" class="form-control" placeholder="Address / Hash / Number / Token" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                            <span class="input-group-btn">
                                <a class="btn" ng-click="searchQuery(form.searchInput)">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </li>


            </ul>
        </div>
        END TOP NAVIGATION MENU
    </div>
</div>
END HEADER TOP
BEGIN HEADER MENU
<div class="page-header-menu">
    <div class="container">

        BEGIN MEGA MENU
        <div class="hor-menu hor-menu-light">
            <ul class="nav navbar-nav" >
                <li class="active" id = "headhome">
                    <a href="/">Home</a>
                </li>
				<li class="menu-dropdown classic-menu-dropdown" id = "headBc">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> BlockChain
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="/account">
                                <i class="fa fa-leaf"></i>
                                <span class="title" data-toggle="tooltip" title="" > Moac Accounts</span>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <li class="menu-dropdown classic-menu-dropdown" id = "headMc">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> MicroChain
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                    	<li>
                            <a href="/scinfo">
                                <i class="fa fa-leaf"></i>
                                <span class="title" data-toggle="tooltip" title="" > MicroChain Form</span>
                            </a>
                        </li>
                        <li>
                            <a href="/mcList">
                                <i class="fa fa-leaf"></i>
                                <span class="title" data-toggle="tooltip" title="" > MicroChain List</span>
                            </a>
                        </li>
                        <li>
                            <a href="/ecoNode">
                                <i class="fa fa-leaf"></i>
                                <span class="title" data-toggle="tooltip" title="" > Eco Node</span>
                            </a>
                        </li>
                        
                    </ul>
                </li>
				<li class="menu-dropdown classic-menu-dropdown " id = "headTokens">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Tokens
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="/tokenlist20" >
                                <i class="fa fa-leaf"></i>
                                <span class="title" data-toggle="tooltip" title="" > View ERC20</span>
                            </a>
                        </li>
                        <li>
                            <a href="/tokenlist721" >
                                <i class="fa fa-leaf"></i>
                                <span class="title" data-toggle="tooltip" title="" > View ERC721</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="menu-dropdown classic-menu-dropdown " id = "headComm">
                    <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;"> Community
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="http://moac.io" target="_blank">
                                <i class="fa fa-leaf"></i>
                                <span class="title" data-toggle="tooltip" title="" > Moac.io</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/MOACChain/moac-core/wiki" target="_blank">
                                <i class="fa fa-folder-open"></i>
                                <span class="title" data-toggle="tooltip" title=""> Wiki</span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        END MEGA MENU
    </div>
</div> -->
<!-- END HEADER INNER -->
